* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #ebf2ff;
}
.navbar{
  display: flex;
  justify-content: space-around;
}
.navbar__brand{
  width: 100px;
}
.navbar__logo{
width: 100%;
}
.button__primary{
  background-image: linear-gradient(to right,
    #EB455F 60%,
    #dd2476 40%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;

}
.button__primary:hover{border: 2px solid #FF6767;}
.button__secondary:hover{border: 2px solid #FF6767;}
.container {
   padding: 20px 20px;
}
.hero__image{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px  10px ;
}
.hero__end{
  font-size: 30px;
  padding: 20px 0px;
  color: #1d3557;
  font-weight: 600;
  margin: 20px 0;
}
.explore__menu__text{
  display:flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600px;
}
.food__name{
  margin-left: 15px;
}
.food__card__discription{

  padding: 15px;
}
.food__card{
  background-color: #F9F9F9;
  border-radius: 8px;
}
.food__card__image__container{
              width: 100%;
              margin-top: 20px;
}
.food__image{
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
    box-shadow: 0 5px  10px ;
    display: inline;

}
.explore__menu__text{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #1d3557;

}

@media (min-width:768px){
  .explore__menu__lists{
    display: flex;
  }
  .explore__menu__lists{
    margin-top: 30px;
    display: flex;
    gap: 15px;
  }
  #pizza__card{
    margin-top: -20px;
    margin-bottom: 30px;
    background-color:  #ebf2ff;
    text-align: left;
  }
  #burger__card{
      background-color:  #ebf2ff;
  }
  #iceCream__card{
      background-color:  #ebf2ff;
  }

  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #fff;
  }

  .button__secondary{
    background-image: linear-gradient(to right,
      #EB455F 60%,
      #dd2476 40%
      );
      color: #fff;
      border: none;
      padding: 14px;
      border-radius: 6px;

  }
}
@media (min-width:1024px){
  .navbar__brand{
    width: 150px;
  }
  .button__primary{
    font-size: 20px;
    border-radius: 6px;
    font-weight: normal;
    margin-top: 20%;
  }
  .explore__menu__lists{
       gap: 25px;
  }
  .explore__menu__text{
    font-size: 48px;
  }
}
.container2{
  background-color: #ECF2FF;
}
.info{
  display: flex;
  justify-content: flex-start;
 justify-content: space-between;
  margin-top: 30px;

}
.logo{
  margin-top: 100px;

}
.table{
  margin-top: 30px;
}
.social__links{
    display:inline-block;
    text-align: left;
  }
.icon__container{
  margin-right: 100px;
}
#icons{
  margin-top: 20px;
  width: 25x;
  height: 30px;
  margin-right: 5px;
}

#icon__2{
  display: block;
  margin-top: 5px;

  width: 150px;
  height: 40px;

}
